:root {
    --blue: #0A2342;
    --white: #FFFDF7;
    --lightGreen: #84BC9C;
    --green: #2CA58D;
    --pink: #F46197;
}

body {
    background-color: var(--blue);
    color: var(--white);
    height: 100%;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
}

h1 {
    width: 100%;
    opacity: 0;
    font-size: 89px;
    text-align: center;
    color: var(--white);
    animation: slideUp 1s 1s ease-out forwards;
}

hr {
    width: 50%;
    opacity:0;
    border: 10px solid var(--pink);
}

hr.top {
    animation: slideIn 1s 2s ease-out forwards;
}

div.links {
    display: block;
    width: 50%;
    height: 300px;
    margin: auto;
}

div.allProjects {
    width: 90%;
    height: 10000px;
}

a {
    font-size: 60px;
    color: var(--lightGreen);
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-right: 100%;
    text-decoration: none;
}

a.project {
    margin-left: 100px;
    color: var(--pink);
    height: auto;
    width: 650px;
    display: block;
    margin-top: 20px;
    opacity: 0;
    animation: slideRight 1s 1s ease-out forwards;
}

div.rounded {
    width: 650px;
    padding: 20px;
    overflow-wrap: break-word;
    font-size: 25px;
    text-align: left;
    border-radius: 15px;
    background-color: var(--white);
    color: var(--lightGreen);
    opacity: 0;
    animation: slideRight 1s 1s ease-out forwards;
}

a.project.r {
    margin-left: 750px;
    animation: slideLeft 1s 1s ease-out forwards;
}

h1.resumePage {
    text-decoration: underline;
    text-decoration-color: var(--pink);
    text-align: left;
    animation: slideUp 1s 1.5s ease-out forwards;
}

h1.underline {
    text-decoration: underline;
    text-decoration-color: var(--pink);
    animation: slideUp 1s ease-out forwards;
}

.first {
    opacity: 0;
    animation: fadeIn 1s 3s ease-out forwards;
}

.second {
    opacity: 0;
    animation: fadeIn 1s 3.2s ease-out forwards;
}

.third {
    opacity: 0;
    animation: fadeIn 1s 3.4s ease-out forwards;
}

.fourth {
    opacity: 0;
    animation: fadeIn 1s 3.6s ease-out forwards;
}

.fifth {
    opacity: 0;
    animation: fadeIn 1s 3.8s ease-out forwards;
}

.bio {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    opacity: 0;
    animation: slideUp 1s 1s ease-out forwards;
}

hr.bottom {
    animation: slideDown 1s 3s ease-out forwards;
}

h2 {
    font-size: 40px;
    color: var(--lightGreen);
}

a.resumePage {
    animation: fadeIn 1s 3.6s ease-out forwards;
    font-size: 40px;
    margin-right: 0%;
}

img {
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
    opacity: 0;
    animation: slideRight 1s ease-out forwards;
}

.center {
    opacity: 0;
    width: 100%;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-right: 0px;
}

.contact {
    overflow-y: hidden;
}

.container {
    margin-left: 75px;
    margin-top: 50px;
    margin-right: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left {
    animation: slideLeft 1s 1s ease-out forwards;
}

.right {
    animation: slideRight 1s 1s ease-out forwards;
}

#resume {
    opacity: 0;
    animation: slideLeft 1s 0s ease-out forwards;
}

.verticallyCentered {
    margin-top: 10%;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(200%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideIn {
    0% {
        opacity: 1;
        transform: translateX(-200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-2000%);
    }
    100% {
        opacity: 1;
        transform: translateY(250%);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
::selection {
    background-color: var(--pink);
}